@import "styles/variables";
@import "styles/maps";
@import "styles/functions";

.form-group {
  display: inline-flex;
  flex-direction: column;
}

.formElement {
  padding-bottom: spacing(32);
}

.formWrapper {
  max-width: 480px;
  margin: 0 auto;
}

.formLabel {
  display: block;
  color: color(text);
  margin-bottom: spacing(12);
}

.formField {
  margin-bottom: spacing(20);
}

.formResultErrorWrapper {
  background-color: color(error);
  padding: spacing(12);
  color: color(white);
  border-radius: radius(regular);
  margin-top: spacing(20);
}