@import "styles/variables";
@import "styles/maps";
@import "styles/functions";

.button {
    padding: spacing(20) spacing(32);
    outline: 0;
    cursor: pointer;
    box-shadow: none;
    border: 0;
    transition: all 0.2s ease-in-out;
    background: color(white);
    font-weight: 700;
    color: color(primary);
    border-radius: radius(round);

    &:hover {
        transform: scale(1.1);
    }
}

.fullWidthButton {
    width: 100%;
}

.disabledButton {
    background: color(contrast-50);
    color: color(contrast-150);
    cursor: not-allowed;
}