@import "styles/variables";
@import "styles/maps";
@import "styles/functions";

.serviceToggle {
  display: flex;
  margin: 0 auto spacing(8) auto;
  padding: spacing(4);
  width: 100%;
  border: 1px solid color(accent);
  border-radius: radius(round);
  background-color: color(contrast-50);
}

.serviceOption {
  flex: 1;
  padding: spacing(12) spacing(16);
  border: 0;
  border-radius: radius(round);
  background-color: transparent;
  color: color(text);
  font-family: sora, sans-serif;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid color(accent);
    outline-offset: 2px;
  }
}

.serviceOptionSelected {
  background-color: color(accent);
  color: color(black);
}

.subscriptionRow {
  display: flex;
  flex-direction: column;
  outline: 0;

  &:focus-visible {
    box-shadow: 0 0 0 2px color(accent);
    border-radius: radius(regular);
  }
}

.subscriptionBlock {
  padding: spacing(4);
  margin-top: spacing(20);
  background-color: color(contrast-50);
  text-align: center;
  height: 140px;
  width: 100%;
  border-radius: radius(regular);
  border: 1px solid color(accent);
}

@media screen and (min-width: 768px) {

  .serviceToggle {
    width: fit-content;
  }

  .serviceOption {
    min-width: 200px;
  }

  .subscriptionRow {
    justify-content: space-between;
    margin-left: -12px;
    margin-right: -12px;
    flex-direction: row;
  }

  .subscriptionBlock {
    padding: spacing(12);
    margin: spacing(12);
    height: 160px;
  }

}
