@import "styles/variables";
@import "styles/maps";
@import "styles/functions";

.heroImageInner {
  object-fit: cover;
  object-position: 50% 60%;
}

.contentHero {
  margin-top: spacing(64);
}

.stepsCard {
  width: 100%;
  position: relative;
  margin: spacing(12);
  background-color: color(primary);
  border-radius: radius(regular);
  padding: spacing(32);
}

@media screen and (min-width: 768px) {

  .stepsCard {
    width: calc(50% - 24px);
  }

}

.stepsContent {
  display: flex;
  margin: 0 -12px 0 -12px;
  flex-wrap: wrap;
}

.heroIntroBlock {
  max-width: 768px;
  margin: 0 auto;
  padding-bottom: 64px;
}

.subscriptionRow {
  display: flex;
  flex-direction: column;
}

.subscriptionBlock {
  padding: spacing(4);
  margin-top: spacing(20);
  background-color: color(contrast-50);
  text-align: center;
  height: 140px;
  width: 100%;
  border-radius: radius(regular);
  border: 1px solid color(accent);
}

.calendarIcon {
  color: color(accent);
}

.calendarLink {
  align-items: center;
  justify-content: center;
  display: flex;
  color: color(accent);
  margin: spacing(8) spacing(12);
}

@media screen and (min-width: 768px) {

  .subscriptionRow {
    display: flex;
    justify-content: space-between;
    margin-left: -12px;
    margin-right: -12px;
    flex-direction: row;
  }

  .subscriptionBlock {
    padding: spacing(12);
    margin: spacing(12);
    height: 160px;
    text-align: center;
    width: 100%;
    border-radius: radius(regular);
    border: 1px solid color(accent);
  }

}

.header {
  margin-top: spacing(64);
  text-align: center;
  background-image: conic-gradient(#f3ec78, #af4261);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stepHeader {
  display: flex;
}

.stepCircle {
  top: spacing(12);
  left: spacing(12);
  background: color(accent);
  width: 40px;
  height: 40px;
  display: inline-flex;
  margin-right: spacing(12);
  border-radius: radius(round);
  align-items: center;
  justify-content: center;

  p {
    font-size: 20px;
    color: color(black);
  }

}

.heroImage {
  height: 700px;
  position: relative;
  overflow: hidden;
}

.contentRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {

  .contentRow {
    flex-direction: row;
  }

}

.arnhemMapBlock {
  background-color: color(accentBackground);
  padding: spacing(20);
  border-radius: radius(regular);
  max-width: 500px;
}

.contentBlock {
  max-width: 768px;
}