$spacings: (
        0: 0,
        4: 4px,
        8: 8px,
        12: 12px,
        16: 16px,
        20: 20px,
        24: 24px,
        32: 32px,
        40: 40px,
        64: 64px,
        80: 80px,
        128: 128px
);

$widths: (
        25: 25%,
        33: 33%,
        50: 50%,
        66: 66%,
        75: 75%,
        100: 100%,
);

$global-navbar-height: 100px;
$global-navbar-height-shadow: 80px;