$font-sizes: (
    h1: 54px,
    h2: 32px,
    h3: 24px,
    h4: 20px,
    h5: 16px,
    h6: 12px,
    p: 16px,
);

$font-lineheights: (
        h1: 63px,
        h2: 48px,
        h3: 36px,
        h4: 30px,
        h5: 24px,
        h6: 18px,
        p: 28px,
);

$font-weights: (
    light: 300,
    normal: 400,
    medium: 500,
    bold: 700,
);

$font-transforms: (
    capitalize: capitalize,
    uppercase: uppercase,
    lowercase: lowercase,
);
