/**
FONTS for use on the site
 */

@font-face {
  font-family: 'sora';
  font-style: normal;
  font-weight: 400;
  src: url(../../public/fonts/sora/sora-regular.ttf) format('ttf');
}

@font-face {
  font-family: 'sora';
  font-weight: 700;
  src: url(../../public/fonts/sora/sora-bold.ttf) format('ttf');
}

@font-face {
  font-family: 'sora';
  font-weight: 200;
  src: url(../../public/fonts/sora/sora-extralight.ttf) format('ttf');
}


/**
Declarations
 */

h1, h2, h3 {
  font-family: sora, sans-serif;
  font-weight: 700;
  color: color(text);
  font-style: normal;
}

p, a, li, ul, code, h4, h5, h6, span, table {
  font-family: sora, sans-serif;
  font-weight: 400;
  color: color(text);
  font-style: normal;
}

h1 {
  font-size: font-size(h1);
  line-height: line-height(h1);
}

h2 {
  font-size: font-size(h2);
  line-height: line-height(h2);
}

h3 {
  font-size: font-size(h3);
  line-height: line-height(h3);
}

h4 {
  font-size: font-size(h4);
  line-height: line-height(h4);
}

h5 {
  font-size: font-size(h5);
  line-height: line-height(h5);
}

h6 {
  font-size: font-size(h6);
  line-height: line-height(h6);
}

p, li, ul, a, span, table, tr, td {
  font-size: font-size(p);
  line-height: line-height(p);
}

a {

  &:hover {
    color: color(accent);
    text-decoration : underline;
  }

}