@import "styles/variables";
@import "styles/maps";
@import "styles/functions";

.heroImageInner {
  object-fit: cover;
  object-position: 0% 50%;
}

.mainHeroContentWrap {
  margin-top: -12px;
  text-align: center;
}

.blogCategoriesHeader {
  border-bottom: 1px solid color(contrast-50);
  padding-bottom: spacing(12);
  display: flex;
  justify-content: center;
}

.blogWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: spacing(64) -12px 0 -12px;
}

.categoryLink {
  margin: 0 spacing(20);
  padding: spacing(4) spacing(8);
  border-radius: radius(round);
}

.categoryLinkActive {
  background-color: color(white);
  color: color(primary);
}


.contentHero {
  margin-top: spacing(64);
}

.heroIntroBlock {
  max-width: 768px;
  margin: 0 auto;
  padding-bottom: 64px;
}

.header {
  margin-top: spacing(64);
  text-align: center;
  background-image: conic-gradient(#f3ec78, #af4261);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroImage {
  height: 700px;
  position: relative;
  overflow: hidden;
}

.blogPreviewCard {
  width: 100%;
  margin: 0 0 spacing(20) 0;
}

@media screen and (min-width: 768px) {
  .blogPreviewCard {
    width: calc(50% - 24px);
    margin: spacing(8);
  }

  .blogWrapper {
    display: flex;
    flex-direction: row;
  }
}