@import "styles/variables";
@import "styles/maps";
@import "styles/functions";

$zIndexMobileDropdown: 1;
$zIndexMobileMainMenu: 2;

$animationMobileDuration: 0.5s;

.navbar {
    width: 100%;
    height: $global-navbar-height;
    position: fixed;
    z-index: 9999;
    display: flex;
    background-color: color(primary);
    justify-content: center;
}

.brandingWrapper {
    display: flex;
    cursor: pointer;
    flex-direction: column;
}

.brandingText {
    margin-right: spacing(12);
    font-size: font-size(h3);
    background-image: conic-gradient(#f3ec78, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subBrandingText {
    margin-right: spacing(12);
    font-size: font-size(h4);
    background-image: conic-gradient(#f3ec78, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbarListMobileMenuItem {
    cursor: pointer;
    display: flex;
    color: color(text);
    flex-direction: column;
    justify-content: center;
    align-self: center;

    span {
        width: 26px;
        height: 3px;
        transition: all $animationMobileDuration ease-in-out;
        transform-origin: center center;
        display: flex;
        margin-bottom: 8px;
        background: color(text);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.navbarItem {

    a {
        color: color(text);
        text-decoration: none;
    }
}

.navbarListMobileMenuItemCross {
    span {
        animation: menuTransformationTop $animationMobileDuration forwards;

        &:last-child {
            animation: menuTransformationBottom $animationMobileDuration forwards;
        }
    }
}

.navbarListMobileMenuItemRegular {
    span {
        animation: menuTransformationTopReverse $animationMobileDuration forwards;

        &:last-child {
            animation: menuTransformationBottomReverse $animationMobileDuration forwards;
        }
    }
}

.navbarMobileMenuActive {
    opacity: 1;
    overflow: scroll;
    pointer-events: all;
    transition: transform $animationMobileDuration ease-in-out;
    transform: translateY(0);
    z-index: $zIndexMobileDropdown;
}

.navbarMobileMenuList {
    padding: 0 spacing(20) spacing(32) 0;
    li {
        list-style-type: none;
        padding: spacing(20);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.socialIcon {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.navbarItemActive {
    a {
        color: color(primary);
    }
}

.navbarList {
    width: 100%;
    max-width: $container-width;
    margin: 0;
    display: none;
    padding: 0 spacing(20);
    li {
        height: $global-navbar-height;
        display: flex;
        justify-content: center;
        margin-right: spacing(20);
        align-items: center;
        list-style-type: none;
    }
}

.navbarListSection {
    display: flex;
    justify-content: center;
}

.navbarSignupSection {
    display: block;
    align-content: center;
    justify-content: center;
}

.navbarContainer {
    max-width: $container-width;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: breakpoint(sm)) {

    .navbarListMobile {
        display: none;
    }

    .navbarMobileMenu {
        display: none;
    }

    .navbarList {
        display: flex;
    }
}

//
///**
//ANIMATION CROSS / CHEVRON ICON
// */
//
//@keyframes menuTransformationTop {
//    0% {
//        transform: translateY(0);
//    }
//    50% {
//        transform: translateY(4px);
//    }
//    100% {
//        transform: rotate(45deg) translateY(4px) translateX(4px);
//    }
//}
//
//@keyframes menuTransformationBottom {
//    0% {
//        transform: translateY(0);
//    }
//    50% {
//        transform: translateY(-4px);
//    }
//    100% {
//        transform: rotate(-45deg) translateY(-4px) translateX(4px);
//    }
//}
//
//// Reverse
//
//@keyframes menuTransformationTopReverse {
//    0% {
//        transform: rotate(45deg) translateY(4px) translateX(4px);
//    }
//    50% {
//        transform: translateY(4px);
//    }
//    100% {
//        transform: translateY(0);
//    }
//}
//
//@keyframes menuTransformationBottomReverse  {
//    0% {
//        transform: rotate(-45deg) translateY(-4px) translateX(4px);
//    }
//    50% {
//        transform: translateY(-4px);
//    }
//    100% {
//        transform: translateY(0);
//    }
//}