@import "styles/variables";
@import "styles/maps";
@import "styles/functions";

.heroImageInner {
  object-fit: cover;
  object-position: 0% 60%;
}

.indexHeader {
  background-image: linear-gradient(#f3ec78, #af4261);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.heroImage {
  height: 1080px;
  position: relative;
  background-color: #15201a;
  display: flex;
  padding-top: $global-navbar-height;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media (screen and min-width: 768px) {
    .heroImage {
      padding-top: 0;
    }
}

.heroImageMobile {
  height: 540px;
  position: relative;
  background-color: #15201a;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.indexTextWrap {
  margin: 0 auto;
  columns: 3;
}

.heroVideo {
  position: relative;
}

.serviceHeader {
  color: color(accent);
}

.heroSignupBtn {
  position: absolute;
  align-items: center;
  width: 100%;
  margin-top: -360px;
  justify-content: center;
  display: flex;
}

@media screen and (min-width: 997px) {
  .heroSignupBtn {
    margin-top: -460px;
  }
}

.heroSignupInner {
  display: none;
  width: 500px;
  flex-direction: column;
}

.heroSignupTitle {
  text-align: center;
  text-shadow: 2px 2px 10px color(black);
}

.heroSignupDescription {
  text-shadow: 2px 2px 10px color(black);
}

.heroSignupInnerBtn {
  align-items: center;
  display: flex;
  margin-top: spacing(32);
  justify-content: center;
  width: 100%;
}

.heroSignupIconIcon {
  animation: pulsingChevron 2s normal infinite;
}

.heroSignupIconIconBottom {
  margin-top: -12px;
}

@keyframes pulsingChevron {
  0% {
    opacity: 0.1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(20px);
  }
}

.heroSignupIconWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.serviceSection {
  border-top: 3px solid color(contrast-50);
  padding-top: spacing(64);
  margin: 0 auto;
  margin-top: spacing(64);
}

.serviceTextSection {
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.serviceSectionImageRow {
  height: 600px;
  display: flex;
  flex-direction: column;
  //margin-bottom: 128px;
  width: 100%;
  position: relative;
}

.northernInuitDogImage {
  display: flex;
  max-width: 1920px;
  position: relative;
  max-height: 1080px;
  height: 1080px;
  width: 100%;
  margin: 0 auto;
}

.serviceSectionImage {
  width: 100%;
  display: flex;
  position: relative;
  height: 600px;
}

@media screen and (min-width: 768px) {

  .serviceSectionImage {
    width: 33.3%;
  }

  .serviceSectionImageRow {
    flex-direction: row;
  }

}

.serviceTextBlock {
  margin-bottom: spacing(32);
}

.indexServiceBlockWrapper {
  display: flex;
}

.indexServiceBlockImage {
  padding: 0 spacing(32);
  position: relative;
}

.indexServiceDescription {
  max-width: 768px;
  margin-bottom: spacing(64);
}


.learnMoreLink {
  color: color(white);
  margin-top: spacing(32);
  position: relative;
  display: block;
  text-align: center;
  background-color: color(contrast-50);
  padding: spacing(12) spacing(20);
  border-radius: radius(regular);

  &:hover {

    .learnMoreLinkIcon {
      transform: translateX(4px);
    }

    .learnMoreLinkText {
      transform: translateX(-4px);
    }

  }
}

.learnMoreLinkText {
  transition: all 0.3s ease-in-out;
  position: relative;
}

.learnMoreLinkIcon {
  fill: color(white);
  transition: all 0.3s ease-in-out;
  justify-content: center;
  margin-left: spacing(16);
  position: absolute;
  margin-top: spacing(4);
}

.indexImageVerticalSlideshow {
  height: 1200px;
  margin: spacing(20);
  width: 70%;
  background-color: black;
}

.indexDescriptionWrapper {
  display: flex;
  max-width: 768px;
  margin: 0 auto;
  flex-direction: row;

  div {
    width: 50%;
  }
}

.pageContainer {
  padding: spacing(32);
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.halfImage {
  width: 50vw;
  height: 400px;
}

@media screen and (min-width: 768px) {
  .heroSignupInner {
    display: flex;
  }
}

/**
NAVIGATION
 */

.desktopNav {
  display: none;
}

.mobileNav {
  display: flex;
}

// Navbar control
@media screen and (min-width: $navbar-breakpoint-to-desktop) {

  .desktopNav {
    display: flex;
  }

  .mobileNav {
    display: none;
  }
}