@import "styles/variables";
@import "styles/maps";
@import "styles/functions";

.blogPostImage {
  width: 100%;
  position: relative;
  height: 500px;
}

.blogPostContainer {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 $container-horizontal-spacing;
}

.inuitDogBlogPostFooterCard {
  padding: spacing(12) spacing(32);
  background-color: color(contrast-50);
  border-radius: radius(regular);
  margin-top: spacing(64);
}

.inuitDogBlogPostFooterHeader {
  margin: spacing(4) 0 spacing(20) 0;
}