@import "styles/variables";
@import "styles/maps";
@import "styles/functions";

.heroImageInner {
  object-fit: cover;
  object-position: 0% 50%;
}

.mainHeroContentWrap {
  max-width: 768px;
  margin: 0 auto;
}

.contentHero {
  margin-top: spacing(64);
}

.heroIntroBlock {
  max-width: 768px;
  margin: 0 auto;
  padding-bottom: 64px;
}

.header {
  margin-top: spacing(64);
  text-align: center;
  background-image: conic-gradient(#f3ec78, #af4261);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroImage {
  height: 700px;
  position: relative;
  overflow: hidden;
}

.contentRow {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: spacing(64);
  justify-content: space-between;
}

.asideBlock {
  padding: spacing(20);
  width: 100%;
  height: 500px;
  position: relative;
  max-width: 768px;
}

.asideBlockImage {
  width: 100%;
  height: 300px;
}

.contentBlock {
  max-width: 768px;
  width: 100%;
}

.puppyContainer {
  max-width: 768px;
  margin: 0 auto;
  padding-top: spacing(32);
  padding-bottom: spacing(64);
}

.puppyContainerCta {
  top: spacing(32);
  position: relative;
}


@media screen and (min-width: 768px) {
  .blogPreviewCard {
    width: calc(50% - 24px);
    margin: spacing(8);
  }

  .contentRow {
    align-items: center;
    flex-direction: row;
  }

  .blogWrapper {
    display: flex;
    flex-direction: row;
  }
}