@import "styles/variables";
@import "styles/maps";
@import "styles/functions";

.docWrapper {
  padding-top: $global-navbar-height;
  max-width: 700px;
  margin: 0 auto;
}

.downloadLink {
  color: color(accent);
}
