@import "styles/variables";
@import "styles/maps";
@import "styles/functions";

.blogPostImage {
  width: 100%;
  position: relative;
  height: 500px;
}

.blogPostContainer {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 $container-horizontal-spacing;
}

.articleContainer {
  max-width: 768px;
  margin:0 auto;
}

.articleHeader {
  color: color(accent);
}

.articleDate {
  margin-top: -12px;
}

.articleFooterCard {
  padding: spacing(12);
  border-radius: radius(regular);
  background-color: color(background)
}