@import "styles/variables";
@import "styles/maps";
@import "styles/functions";

.blogPostTitle {
    margin-bottom: 0;
}

.blogPostDate {
    margin-top: 4px;
    margin-bottom: spacing(20);
}

.blogPostImage {
    width: 100%;
    position: relative;
    height: 250px;
}

.blogCard {
    background-color: color(contrast-50);
    padding: 0 spacing(12) spacing(12) spacing(12);
}