@import "styles/variables";
@import "styles/maps";
@import "styles/functions";

.footer {
    margin-top: 200px;
    padding: spacing(32);
    position: relative;
    background: color(accentBackground);
    color: color(white);
}

.footerMainSection {
    width: 100%;
    text-align: center;
    margin-bottom: spacing(12);
    padding-bottom: spacing(32);
    border-bottom: 1px solid color(background-accent);

}

.footerContainer {
    max-width: $container-width;
    width: 100%;
}

.footerDogImage {
    position: absolute;
    right: -32px;
    top: -200px;
}

.footerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.footerLabel {
    font-weight: 700;
    margin-bottom: -8px;
}

.footerValue {
    line-height: 24px;
    display: block;
    margin: spacing(12) 0;
    margin-bottom: spacing(12);
}

.footerSection {
    width: 100%;
    padding: spacing(12);
}

@media screen and (min-width: 768px) {
    .footerWrapper {
        flex-direction: row;
    }
}

.footerHeader {
    text-align: center;
}

.footerList {
    padding-left: 0;

    li {
        list-style-type: none;
    }

}

.linksList {
    padding-left: 0;

    li {
        margin-bottom: spacing(12);
        list-style-type: none;
    }

}


.socialMediaList {
    margin: 0;
    padding-left: 0;

    li {
        float: left;
        margin-right: spacing(12);
        list-style-type: none;
    }

}

@media screen and (min-width: 768px) {

    .footerDogImage {
        right: spacing(20);
    }

}